<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <!-- Adding navbar -->
    <nav class="mainNavbar">
        <nav class="leftNavbar">
            <a> TRAVEL </a>

        </nav>

        <nav class="rightNavbar">
            <a> Home </a>
            <a> Tour </a>
            <a> Hotels Reservations</a>
            <a> Flight Bookings </a>
            <a> Contact Us </a>
            <a> Logout </a>
        </nav>
    </nav>

    <!-- Adding the header -->
    <article class="articleHeader"> 

        <div>
            <h1 class="travelingHeader"> TRAVELING </h1>
            <h3> DISCOVER THE CHROMATIC WORLD</h3>
    
            <p> The man who goes alone can start today, but he who tavels <br> 
                with another must wait till that other is ready. 
            </p>
        </div>


        <div class="searchDiv"> 
            <input type="search" class="searchInput"/> 
            <button class="searchBtn"> Search </button>
        </div>

    </article>

    
</body>
</html>