<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home </title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
    <section class="mainSection"> 
        <section class="leftLoginSection"> 
            <div class="logoDiv">
                <img src="../img/flightLogo.png" class="flightLogo" /> 
                <h2 class="flightAnalysisHeader"> Travel Booking Platform </h2>
            </div>

            <!-- Adding the alert div -->
            <div class="alertDiv" id="alertDiv"> 
                <span class="alert hidden" id="alert"> User registered </span>
            </div>

            <!-- Adding the form div -->
        <form class="loginFormDiv"> 
            <div class="inputLoginFormDiv"> 
                <h2 class="signupHeader"> SIGN UP </h2>
            </div>
            <div class="inputLoginFormDiv">
                <label> Fullname </label> <br> 
                <input type="text" placeholder="Enter your fullname here." class="inputForm" id="fullname" required/> 

            </div>
            <div class="inputLoginFormDiv">
                <label> Email </label> <br> 
                <input type="email" id="email" placeholder="Enter your email" class="inputForm" required/> 
            </div>
            <div class="inputLoginFormDiv">
                <label> Password </label> <br> 
                <input type="password" placeholder="Enter your password" id='password' class="inputForm" required/> 
            </div>
            <div class="remembermeDiv">
                <section class="loginCheckboxDiv">
                    <input type="checkbox" />
                    <p> Remember me </p>
                </section> 

                <section>
                    <a> Forgot Password </a>
                </section>

            </div>
            
            <div>
                <button class="signupBtn" id="signupBtn"> Sign Up </button>
            </div>

            <div> 
                <button class="loginBtn" id="loginBtn"> Login </button>
            </div>

        </form>
            


        </section>

        <section class="rightLoginSection">
            <div class="innerLoginImage">
                <img src="../img/airplaneLogo.jpg" class="airplaneLogo" /> 
            </div> 

        </section>
    </section>
    
    <!-- Adding javascript -->
    <script src="../js/signup.js"></script>
</body>
</html>